body{
  font-family: Arial, sans-serif;
  background-color: #dedede;
}

header{
  position: relative;
  background-color: white;
  height: 100px;
  background-color: #001e43;

}

.container{
  width: 940px;
  margin: 0 auto;
  text-align: center;
}


#title h1{
  display: inline-block;
  color: white;
  font-size: 40px;
}

#posted_number{
  font-family: arial black;
  display: inline-block;
  line-height: 10px;
  position: absolute;
  top: 30px;
  left: 100px;
}
#posted_number h2{
  font-size: 14px;
  font-weight: normal;
  color: white;
}
#posted_number span{
  font-size: 26px;
  font-weight: bold;
  color: #e67e22;
}

#main .container{
  background-color: #dedede;
  margin-top: 100px;
  border-top: 2px dashed #001e43;

}
#post-row{
  margin-bottom: 50px;
  width: 750px;
  text-align: left;

}
dt{
  font-weight: bold;
  margin-bottom: 5px;
}
dd{
  position: relative;
  margin-bottom: 40px;
  font-size: 20px;
}

a{
  text-decoration: none;
  color: #a0a0a0;
  position: absolute;
  right: 0px;
  font-size: 15px;
}
a:hover{
  color: red;
}
#form{
  text-align: left;
}
